<!-- Main Header -->
<header class="main-header">

    <!-- Logo -->
    <a class="logo">
        <!-- mini logo for sidebar mini 50x50 pixels -->
        <span class="logo-mini"><b>KOWORD</b></span>
        <!-- logo for regular state and mobile devices -->
        <span class="logo-lg"><b>KOWORD</b></span>
    </a>

    <!-- Header Navbar -->
    <nav class="navbar navbar-static-top" role="navigation">
        <!-- Sidebar toggle button-->
        <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
            <span class="sr-only">sidebar-button</span>
        </a>
        <!-- Navbar Right Menu -->
        <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">
                <div class="pull-right">
                    <a href="{% url 'user_login' %}" class="btn btn-default btn-flat">Logout</a>
                </div>
            </ul>
        </div>

    </nav>
</header>