<!-- Left side column. contains the logo and sidebar -->
<aside class="main-sidebar">

    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">


        <!-- Sidebar Menu -->
        <ul class="sidebar-menu" data-widget="tree">
            <li class="active">
                <a href="{% url 'books_list' %}"><i class="fa fa-cubes"></i> <span>Wordbooks</span></a>
            </li>
            <li class="active">
                <a href="{% url 'user_login' %}""><i class="fa fa-battery-half"></i> <span>Learn</span></a>
            </li> 
            <li class="active">
                <a href="{% url 'user_login' %}""><i class="fa fa-table"></i> <span>Review</span></a>
            </li>
            <li class="active">
                <a href="{% url 'user_login' %}""><i class="fa fa-binoculars"></i> <span>Test</span></a>
            </li>
        </ul>
        <!-- /.sidebar-menu -->
    </section>
    <!-- /.sidebar -->
</aside>
