{% extends 'base.html' %}
{% load staticfiles %}

{% block extra_head %}
    <link rel="stylesheet" href="{% static 'datatables/dataTables.bootstrap.min.css' %}">
{% endblock %}

{% block content %}
    <section class="content-header">
        <h1>
            Learn Record
        </h1>
    </section>

    <!-- Main content -->
    <section class="content container-fluid">
        <table class="table table-responsive" id="wordbook_table">
            <thead>
            <tr>
                <th>Name</th>
                <th>Units</th>
                <th>Learned</th>
                <th>Not Learned</th>
            </tr>
            </thead>
            <tbody>
                {% for record in records %}
                    <tr>
                        <td>{{ record.bookname }}</td>
                        <td>{{ record.unit }}</td>                        
                        <td>{{ record.learned_count }}</td>
                        <td>{{ record.notlearned_count }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </section>

{% endblock %}



  