{% extends 'base.html' %}
{% load staticfiles %}

{% block extra_head %}
    <link rel="stylesheet" href="{% static 'datatables/dataTables.bootstrap.min.css' %}">
{% endblock %}

{% block content %}
    <section class="content-header">
        <h1>
            <b>Learn</b>
        </h1>
        <h5>
            Choose unit now!
        </h5>
    </section>

    <!-- Main content -->
    <section class="content container-fluid">
        <table class="table table-responsive" id="wordbook_table">
            <thead>
            <tr>
                <th>Units</th>
            </tr>
            </thead>
            <tbody>
                {% for word in words %}
                    <tr>
                        <td>{{ word.unit }}</td> 
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </section>

{% endblock %}
