{% extends 'base.html' %}

{% block content %}
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            <b>Review</b>
        </h1>
        <h5>
            Start to learn now!
        </h5>
    </section>

    <!-- Main content -->
    <section class="content container-fluid">
        <div class="box-body">
            <table class="table table-responsive" id="wordbook_table">
                {% for book in books %}
                <tbody>
                    {% for word in words %}
                        <tr>
                            <td>{{ word.word }}</td>
                        </tr>
                        <tr>
                            <div id="answer" class="btn-bar">
                                <a class="btn btn-success" id="btn-familiar">认识</a>
                                <a class="btn btn-danger" id="btn-unfamiliar">不熟悉</a>
                            </div>
                        </tr>
                    {% endfor %}
                </tbody>
                {% endfor %}
            </table>
        </div>
    </section>

    
{% endblock %}
